Repository netboxlabs/diode, pull requests merged in 2024-08, with the labels that each got.

#145 feat: docker compose - remove redundant configurediodeplugin command call
  diode-server/docker/docker-compose.netbox.yaml
  diode-server/docker/netbox/Dockerfile-diode
  diode-server/docker/netbox/configuration/plugins.py
  diode-server/docker/netbox/configure-diode-plugin.sh
  diode-server/docker/netbox/launch-netbox.sh
Labels: python, diode-server

#140 feat: diode-proto - set explicit fields presence
  diode-proto/diode/v1/ingester.proto
  diode-server/Makefile
  diode-server/docker/docker-compose.yaml
  diode-server/gen/diode/v1/diodepb/ingester.pb.go
  diode-server/gen/diode/v1/diodepb/ingester.pb.validate.go
  docs/diode-proto.md
  tests/features/ingestion_device_objects.feature
  tests/features/ingestion_interface_objects.feature
  tests/features/steps/ingestion_device_object.py
  tests/features/steps/ingestion_interface_object.py
Labels: documentation, go, markdown, python, diode-proto, diode-server, internal

#146 🚚 release: protobuf explicit field presence
  diode-proto/diode/v1/ingester.proto
  diode-server/.mockery.yaml
  diode-server/Makefile
  diode-server/docker/docker-compose.netbox.yaml
  diode-server/docker/docker-compose.yaml
  diode-server/docker/netbox/Dockerfile-diode
  diode-server/docker/netbox/configuration/plugins.py
  diode-server/docker/netbox/configure-diode-plugin.sh
  diode-server/docker/netbox/launch-netbox.sh
  diode-server/gen/diode/v1/diodepb/ingester.pb.go
  diode-server/gen/diode/v1/diodepb/ingester.pb.validate.go
  diode-server/go.mod
  diode-server/go.sum
  diode-server/ingester/component_test.go
  diode-server/netboxdiodeplugin/client_test.go
  diode-server/netboxdiodeplugin/mocks/netboxapi.go
  diode-server/reconciler/client_test.go
  diode-server/reconciler/ingestion_processor.go
  diode-server/reconciler/ingestion_processor_internal_test.go
  diode-server/reconciler/ingestion_processor_test.go
  diode-server/reconciler/mocks/client.go
  diode-server/reconciler/mocks/redisclient.go
  diode-server/reconciler/reconciler_test.go
  diode-server/reconciler/server_test.go
  docs/diode-proto.md
  tests/features/ingestion_device_objects.feature
  tests/features/ingestion_device_type_objects.feature
  tests/features/ingestion_interface_objects.feature
  tests/features/steps/ingestion_device_object.py
  tests/features/steps/ingestion_interface_object.py
  tests/features/steps/utils.py
Labels: documentation, go, markdown, python, diode-proto, dependencies, diode-server, diode-ingester, diode-reconciler, internal

#147 Update README.md
  diode-server/README.md
Labels: markdown, diode-server

#149 fix: docker - configure redis append only file directory
  diode-server/docker/docker-compose.yaml
Labels: diode-server

#150 feat: Add new schema data to ingest-entity
  diode-server/Makefile
  diode-server/docker/docker-compose.dev.yaml
  diode-server/docker/docker-compose.yaml
  diode-server/reconciler/ingestion_processor.go
  diode-server/reconciler/ingestion_processor_internal_test.go
  diode-server/reconciler/ingestion_processor_test.go
Labels: go, diode-server, diode-reconciler, internal

#152 fix: docker - ingress-nginx listen to correct port
  diode-server/docker/docker-compose.yaml
Labels: diode-server

#153 feat: store reconciliation errors in redis
  diode-server/netboxdiodeplugin/client.go
  diode-server/netboxdiodeplugin/client_test.go
  diode-server/reconciler/ingestion_processor.go
Labels: go, diode-server, diode-reconciler

#156 chore: add BaseDataWrapper to reduce netbox package duplicated code
  diode-server/netbox/ipam_wrappers.go
  diode-server/netbox/wrappers.go
Labels: go, diode-server

#158 feat: reorg proto structure
  Makefile
  diode-proto/buf.gen.go-internal.yaml
  diode-proto/buf.gen.py.yaml
  diode-proto/buf.gen.sdk.go.yaml
  diode-proto/buf.gen.sdk.py.yaml
  diode-proto/buf.gen.server.go.yaml
  diode-proto/buf.lock
  diode-proto/buf.yaml
  diode-proto/diode/v1/reconciler.proto
  diode-server/Makefile
  diode-server/gen/diode/v1/diodepb/ingester.pb.go
  diode-server/gen/diode/v1/reconcilerpb/reconciler.pb.go
  diode-server/gen/diode/v1/reconcilerpb/reconciler.pb.validate.go
  diode-server/gen/diode/v1/reconcilerpb/reconciler_grpc.pb.go
  diode-server/go.mod
  diode-server/go.sum
  diode-server/ingester/component.go
  diode-server/netboxdiodeplugin/mocks/netboxapi.go
  diode-server/proto/buf.gen.yaml
  diode-server/proto/buf.lock
  diode-server/proto/buf.yaml
  diode-server/reconciler/client.go
  diode-server/reconciler/client_test.go
  diode-server/reconciler/mocks/client.go
  diode-server/reconciler/mocks/redisclient.go
  diode-server/reconciler/server.go
  diode-server/reconciler/server_test.go
  diode-server/reconciler/v1/reconcilerpb/reconciler.pb.go
  docs/diode-proto.md
Labels: documentation, go, markdown, diode-proto, dependencies, diode-server, diode-ingester, diode-reconciler, internal

#159 feat: add authorization for reconciler service
  diode-server/README.md
  diode-server/docker/docker-compose.yaml
  diode-server/docker/sample.env
  diode-server/ingester/component.go
  diode-server/ingester/component_test.go
  diode-server/ingester/config.go
  diode-server/reconciler/api_keys.go
  diode-server/reconciler/config.go
  diode-server/reconciler/reconciler_test.go
  diode-server/reconciler/server.go
  diode-server/reconciler/server_internal_test.go
Labels: go, markdown, diode-server, diode-ingester, diode-reconciler

#160 chore: update README about Go SDK
  README.md
Labels: markdown
