Repository netboxlabs/diode, pull requests merged in 2024-07, with the labels that each got.

#131 Update README.md
  README.md
Labels: markdown

#127 feat: OBS-489 - allow change tls verification by setting env variable
  diode-server/README.md
  diode-server/docker/docker-compose.yaml
  diode-server/docker/sample.env
  diode-server/netboxdiodeplugin/client.go
  diode-server/netboxdiodeplugin/client_test.go
  diode-server/reconciler/config.go
Labels: go, markdown, diode-server, diode-reconciler

#133 feat: OBS-499 - increase diode-server server tests
  diode-server/server/server_test.go
Labels: go, diode-server

#137 🚚 release
  .github/workflows/server-release.yaml
  README.md
  diode-server/Makefile
  diode-server/README.md
  diode-server/docker/docker-compose.yaml
  diode-server/docker/sample.env
  diode-server/netboxdiodeplugin/client.go
  diode-server/netboxdiodeplugin/client_test.go
  diode-server/reconciler/config.go
  diode-server/server/server_test.go
Labels: go, markdown, github-actions, diode-server, diode-reconciler, internal

#134 feat: rename INGESTION_API_KEY to DIODE_API_KEY
  diode-server/README.md
  diode-server/docker/docker-compose.yaml
  diode-server/docker/netbox/env/netbox.env
  diode-server/docker/sample.env
  diode-server/reconciler/api_keys.go
  diode-server/reconciler/config.go
  diode-server/reconciler/server.go
  tests/features/configs.ini.tpl
Labels: go, markdown, diode-server, diode-reconciler

#138 🚚 release
  diode-server/README.md
  diode-server/docker/docker-compose.yaml
  diode-server/docker/netbox/env/netbox.env
  diode-server/docker/sample.env
  diode-server/reconciler/api_keys.go
  diode-server/reconciler/config.go
  diode-server/reconciler/server.go
  tests/features/configs.ini.tpl
Labels: go, markdown, diode-server, diode-reconciler

#141 fix: behave integration tests
  tests/features/ingestion_device_type_objects.feature
  tests/features/steps/ingestion_device_object.py
  tests/features/steps/utils.py
Labels: python

#143 feat: add unit tests for ingester component
  diode-server/ingester/component_test.go
  diode-server/reconciler/reconciler_test.go
Labels: go, diode-server, diode-ingester, diode-reconciler

#144 feat: increase netboxdiodeplugin package unit tests
  diode-server/netboxdiodeplugin/client_test.go
Labels: go, diode-server
