Repository netboxlabs/diode, pull requests merged in 2024-09, with the labels that each got.

#154 feat: add RetrieveIngestionLogs to reconciler proto
  diode-proto/diode/v1/reconciler.proto
  diode-server/gen/diode/v1/reconcilerpb/reconciler.pb.go
  diode-server/gen/diode/v1/reconcilerpb/reconciler.pb.validate.go
  diode-server/gen/diode/v1/reconcilerpb/reconciler_grpc.pb.go
  diode-server/reconciler/client.go
  diode-server/reconciler/mocks/client.go
  diode-server/reconciler/server.go
Labels: go, diode-proto, diode-server, diode-reconciler

#161 feat: add cluster objects integration tests
  tests/features/cleanup.feature
  tests/features/ingestion_cluster_group_objects.feature
  tests/features/ingestion_cluster_objects.feature
  tests/features/ingestion_cluster_type_objects.feature
  tests/features/steps/cleanup.py
  tests/features/steps/ingestion_cluster_group_object.py
  tests/features/steps/ingestion_cluster_object.py
  tests/features/steps/ingestion_cluster_type_object.py
  tests/features/steps/ingestion_ip_address_object.py
Labels: python

#162 feat: add integration test for Virtual Machine Objects
  diode-server/netbox/virtualization.go
  diode-server/netbox/virtualization_wrappers.go
  diode-server/reconciler/changeset/changeset_virt_test.go
  tests/features/ingestion_virtual_disk_objects.feature
  tests/features/ingestion_virtual_interface_objects.feature
  tests/features/ingestion_virtual_machine_objects.feature
  tests/features/steps/ingestion_virtual_disk_object.py
  tests/features/steps/ingestion_virtual_interface_object.py
  tests/features/steps/ingestion_virtual_machine_object.py
Labels: go, python, diode-server, diode-reconciler

#164 feat: generate reconciler protobuf for sdk in diode-netbox-plugin
  Makefile
  diode-proto/buf.gen.netbox-plugin.reconciler.sdk.py.yaml
Labels: diode-proto, internal

#165 feat: add authz for retrieving ingestion logs
  diode-server/reconciler/server.go
  diode-server/reconciler/server_internal_test.go
Labels: go, diode-server, diode-reconciler

#167 feat: ingestion logs and migrations
  .github/CODEOWNERS
  diode-proto/diode/v1/reconciler.proto
  diode-server/README.md
  diode-server/docker/docker-compose.yaml
  diode-server/docker/sample.env
  diode-server/gen/diode/v1/reconcilerpb/reconciler.pb.go
  diode-server/gen/diode/v1/reconcilerpb/reconciler.pb.validate.go
  diode-server/netbox/virtualization.go
  diode-server/netbox/virtualization_wrappers.go
  diode-server/netbox/wrappers.go
  diode-server/netboxdiodeplugin/client.go
  diode-server/reconciler/config.go
  diode-server/reconciler/ingestion_processor.go
  diode-server/reconciler/ingestion_processor_internal_test.go
  diode-server/reconciler/logs_retriever.go
  diode-server/reconciler/migration.go
  diode-server/reconciler/migration_test.go
  diode-server/reconciler/mocks/redisclient.go
  diode-server/reconciler/reconciler_test.go
  diode-server/reconciler/server.go
  diode-server/reconciler/server_internal_test.go
Labels: go, markdown, diode-proto, diode-server, diode-reconciler

#168 feat: ingest entity UNSPECIFIED state
  diode-proto/diode/v1/reconciler.proto
  diode-server/gen/diode/v1/reconcilerpb/reconciler.pb.go
  diode-server/reconciler/ingestion_processor.go
  diode-server/reconciler/server_internal_test.go
Labels: go, diode-proto, diode-server, diode-reconciler

#170 feat: add golangci-lint gci linter (go package import order)
  .github/golangci.yaml
  diode-server/server/server_test.go
Labels: go, diode-server

#171 feat: ingestion logs pagination and metrics adjustments
  diode-proto/diode/v1/reconciler.proto
  diode-server/gen/diode/v1/reconcilerpb/reconciler.pb.go
  diode-server/gen/diode/v1/reconcilerpb/reconciler.pb.validate.go
  diode-server/go.mod
  diode-server/go.sum
  diode-server/reconciler/ingestion_processor.go
  diode-server/reconciler/logs_retriever.go
  diode-server/reconciler/migration.go
  diode-server/reconciler/migration_test.go
  diode-server/reconciler/server_internal_test.go
Labels: go, diode-proto, dependencies, diode-server, diode-reconciler

#173 fix: extract ingested entity from proto
  diode-server/docker/sample.env
  diode-server/netbox/dcim.go
  diode-server/netbox/dcim_interface.go
  diode-server/netbox/dcim_wrappers.go
  diode-server/netbox/extras.go
  diode-server/netbox/ipam.go
  diode-server/netbox/ipam_wrappers.go
  diode-server/netbox/virtualization.go
  diode-server/netbox/virtualization_wrappers.go
  diode-server/netbox/wrappers.go
  diode-server/reconciler/changeset/changeset.go
  diode-server/reconciler/changeset/changeset_dcim_test.go
  diode-server/reconciler/changeset/changeset_ipam_test.go
  diode-server/reconciler/changeset/changeset_virt_test.go
  diode-server/reconciler/ingestion_processor.go
  diode-server/reconciler/ingestion_processor_internal_test.go
  diode-server/reconciler/ingestion_processor_test.go
  diode-server/reconciler/logs_retriever.go
  diode-server/reconciler/server_internal_test.go
Labels: go, diode-server, diode-reconciler

#174 feat: add diode-reconciler to ingress nginx config
  diode-server/docker/docker-compose.yaml
Labels: diode-server

#172 feat: store generated changeset into ingestion log
  diode-proto/diode/v1/reconciler.proto
  diode-server/gen/diode/v1/reconcilerpb/reconciler.pb.go
  diode-server/gen/diode/v1/reconcilerpb/reconciler.pb.validate.go
  diode-server/go.mod
  diode-server/go.sum
  diode-server/reconciler/ingestion_processor.go
  diode-server/reconciler/ingestion_processor_internal_test.go
Labels: go, diode-proto, dependencies, diode-server, diode-reconciler

#175 feat: redis FT.SEARCH index adjustments
  diode-server/reconciler/logs_retriever.go
  diode-server/reconciler/logs_retriever_test.go
  diode-server/reconciler/migration.go
  diode-server/reconciler/migration_test.go
  diode-server/reconciler/server_internal_test.go
Labels: go, diode-server, diode-reconciler

#176 feat: ingestion log state queued
  diode-proto/diode/v1/reconciler.proto
  diode-server/gen/diode/v1/reconcilerpb/reconciler.pb.go
  diode-server/gen/diode/v1/reconcilerpb/reconciler.pb.validate.go
  diode-server/reconciler/ingestion_processor.go
  diode-server/reconciler/logs_retriever.go
  diode-server/reconciler/server_internal_test.go
Labels: go, diode-proto, diode-server, diode-reconciler

#177 fix: docker-compose - add missing environment variable
  diode-server/docker/docker-compose.yaml
  diode-server/docker/sample.env
Labels: diode-server

#178 🚚 release
  .github/CODEOWNERS
  .github/golangci.yaml
  Makefile
  diode-proto/buf.gen.netbox-plugin.reconciler.sdk.py.yaml
  diode-proto/diode/v1/reconciler.proto
  diode-server/README.md
  diode-server/docker/docker-compose.yaml
  diode-server/docker/sample.env
  diode-server/gen/diode/v1/reconcilerpb/reconciler.pb.go
  diode-server/gen/diode/v1/reconcilerpb/reconciler.pb.validate.go
  diode-server/go.mod
  diode-server/go.sum
  diode-server/netbox/dcim.go
  diode-server/netbox/dcim_interface.go
  diode-server/netbox/dcim_wrappers.go
  diode-server/netbox/extras.go
  diode-server/netbox/ipam.go
  diode-server/netbox/ipam_wrappers.go
  diode-server/netbox/virtualization.go
  diode-server/netbox/virtualization_wrappers.go
  diode-server/netbox/wrappers.go
  diode-server/netboxdiodeplugin/client.go
  diode-server/netboxdiodeplugin/mocks/netboxapi.go
  diode-server/reconciler/changeset/changeset.go
  diode-server/reconciler/changeset/changeset_dcim_test.go
  diode-server/reconciler/changeset/changeset_ipam_test.go
  diode-server/reconciler/changeset/changeset_virt_test.go
  diode-server/reconciler/config.go
  diode-server/reconciler/ingestion_processor.go
  diode-server/reconciler/ingestion_processor_internal_test.go
  diode-server/reconciler/ingestion_processor_test.go
  diode-server/reconciler/logs_retriever.go
  diode-server/reconciler/logs_retriever_test.go
  diode-server/reconciler/migration.go
  diode-server/reconciler/migration_test.go
  diode-server/reconciler/mocks/client.go
  diode-server/reconciler/mocks/redisclient.go
  diode-server/reconciler/reconciler_test.go
  diode-server/reconciler/server.go
  diode-server/reconciler/server_internal_test.go
  diode-server/server/server_test.go
Labels: go, markdown, diode-proto, dependencies, diode-server, diode-reconciler, internal
