Repository netboxlabs/diode, pull requests merged in 2024-12, with the labels that each got.

#198 feat: introduce postgres dbstore with migrations
  diode-server/.mockery.yaml
  diode-server/Makefile
  diode-server/README.md
  diode-server/cmd/reconciler/main.go
  diode-server/dbstore/postgres/migrations/00001_ingestion_logs.sql
  diode-server/dbstore/postgres/migrations/00002_change_sets.sql
  diode-server/dbstore/postgres/queries/change_sets.sql
  diode-server/dbstore/postgres/queries/ingestion_logs.sql
  diode-server/dbstore/postgres/repositories.go
  diode-server/docker/docker-compose.yaml
  diode-server/docker/sample.env
  diode-server/gen/dbstore/postgres/change_sets.sql.go
  diode-server/gen/dbstore/postgres/db.go
  diode-server/gen/dbstore/postgres/ingestion_logs.sql.go
  diode-server/gen/dbstore/postgres/types.go
  diode-server/go.mod
  diode-server/go.sum
  diode-server/migrator/migrator.go
  diode-server/netboxdiodeplugin/mocks/netboxapi.go
  diode-server/reconciler/config.go
  diode-server/reconciler/ingestion_processor.go
  diode-server/reconciler/ingestion_processor_test.go
  diode-server/reconciler/mocks/changesetrepository.go
  diode-server/reconciler/mocks/client.go
  diode-server/reconciler/mocks/ingestionlogrepository.go
  diode-server/reconciler/mocks/redisclient.go
  diode-server/reconciler/reconciler_test.go
  diode-server/reconciler/repositories.go
  diode-server/sqlc.yaml
Labels: go, markdown, dependencies, diode-server, diode-reconciler, internal

#199 chore: makefile - add tparse into dev tools
  diode-server/Makefile
Labels: diode-server, internal

#201 chore: docker compose development overrides
  .gitignore
  diode-server/Makefile
  diode-server/docker/dev.env
Labels: diode-server, internal

#202 feat: add branch support
  diode-server/netboxdiodeplugin/client.go
  diode-server/netboxdiodeplugin/client_test.go
  diode-server/reconciler/applier/applier.go
  diode-server/reconciler/applier/applier_test.go
  diode-server/reconciler/differ/differ.go
  diode-server/reconciler/differ/differ_dcim_test.go
  diode-server/reconciler/differ/differ_ipam_test.go
  diode-server/reconciler/differ/differ_virt_test.go
  diode-server/reconciler/ingestion_processor.go
Labels: go, diode-server, diode-reconciler

#203 feat: ActionIngestionLog rpc
  diode-proto/diode/v1/reconciler.proto
  diode-server/gen/diode/v1/diodepb/ingester.pb.go
  diode-server/gen/diode/v1/reconcilerpb/reconciler.pb.go
  diode-server/gen/diode/v1/reconcilerpb/reconciler.pb.validate.go
  diode-server/gen/diode/v1/reconcilerpb/reconciler_grpc.pb.go
Labels: go, diode-proto, diode-server

#204 chore: enable gofumpt lint
  .github/golangci.yaml
  diode-server/Makefile
  diode-server/cmd/ingester/main.go
  diode-server/cmd/reconciler/main.go
  diode-server/netboxdiodeplugin/client.go
  diode-server/netboxdiodeplugin/client_test.go
  diode-server/reconciler/differ/differ_virt_test.go
  diode-server/reconciler/ingestion_processor.go
  diode-server/reconciler/ingestion_processor_internal_test.go
  diode-server/reconciler/logs_retriever.go
Labels: go, diode-server, diode-ingester, diode-reconciler, internal

#206 chore: add extra-hosts to docker compose dev env to proper work on linux
  diode-server/docker/docker-compose.dev.yaml
Labels: diode-server

#207 chore: bump golang.org/x/*
  diode-server/go.mod
  diode-server/go.sum
Labels: dependencies, diode-server

#209 chore: ingestion processing cleanup
  diode-server/dbstore/postgres/queries/ingestion_logs.sql
  diode-server/dbstore/postgres/repository.go
  diode-server/gen/dbstore/postgres/adapters.go
  diode-server/gen/dbstore/postgres/ingestion_logs.sql.go
  diode-server/gen/diode/v1/reconcilerpb/reconciler.pb.go
  diode-server/reconciler/applier/applier.go
  diode-server/reconciler/applier/applier_test.go
  diode-server/reconciler/differ/differ.go
  diode-server/reconciler/generate_change_set.go
  diode-server/reconciler/ingestion_processor.go
  diode-server/reconciler/mocks/repository.go
  diode-server/reconciler/repository.go
Labels: go, diode-proto, diode-server, diode-ingester, diode-reconciler

#211 chore: go toolchain version + github actions commit hash pinning
  .github/workflows/go-test.yaml
  .github/workflows/golangci-lint.yaml
  .github/workflows/helm-lint.yaml
  .github/workflows/helm-release.yaml
  .github/workflows/labeler.yaml
  .github/workflows/reusable_semantic_release.yaml
  .github/workflows/reusable_semantic_release_get_next_version.yaml
  .github/workflows/server-release.yaml
  diode-server/go.mod
  diode-server/go.sum
Labels: github-actions, dependencies, diode-server

#212 chore: gha - use tags for immutable actions
  .github/workflows/go-test.yaml
  .github/workflows/golangci-lint.yaml
  .github/workflows/labeler.yaml
  .github/workflows/reusable_semantic_release.yaml
  .github/workflows/reusable_semantic_release_get_next_version.yaml
Labels: github-actions

#214 feat: proto - add branch id to change set
  diode-proto/buf.gen.sdk.go.yaml
  diode-proto/buf.gen.server.go.yaml
  diode-proto/diode/v1/reconciler.proto
  diode-server/Makefile
  diode-server/dbstore/postgres/repository.go
  diode-server/gen/diode/v1/diodepb/ingester.pb.go
  diode-server/gen/diode/v1/reconcilerpb/reconciler.pb.go
  diode-server/gen/diode/v1/reconcilerpb/reconciler.pb.validate.go
  docs/diode-proto.md
Labels: documentation, go, markdown, diode-proto, diode-server, internal

#215 chore: check netbox_to_diode key for any non-internal method
  diode-server/reconciler/server.go
Labels: go, diode-server, diode-reconciler

#216 fix: retrieve ingestion logs with null change set
  diode-server/gen/dbstore/postgres/types.go
  diode-server/sqlc.yaml
Labels: go, diode-server
