Repository netboxlabs/diode, pull requests merged in 2025-07, with the labels that each got.

#377 feat: adds updated add triggers
  diode-server/Makefile
  diode-server/dbstore/postgres/README.md
  diode-server/dbstore/postgres/migrations/20250707101612_add_updated_at_triggers.sql
Labels: markdown, diode-server, internal

#378 docs: link docs readme to root readme
  docs/README.md
Labels: documentation, markdown

#375 feat: add support for configuring extra initContainers
  charts/diode/README.md
  charts/diode/templates/diode-auth-bootstrap-job.yaml
  charts/diode/templates/diode-auth-deployment.yaml
  charts/diode/templates/diode-ingester-deployment.yaml
  charts/diode/templates/diode-reconciler-deployment.yaml
  charts/diode/values.yaml
Labels: markdown, diode-chart

#376 fix: don't try to create kind:Ingress files if ingress disabled
  charts/diode/templates/ingress-grpc.yaml
  charts/diode/templates/ingress-http.yaml
Labels: diode-chart

#382 chore: Add MkDocs documentation setup
  .gitignore
  docs/getting-started.md
  docs/index.md
  docs/license.md
  docs/observability/metrics.md
  docs/protobuf/diode-proto.md
  mkdocs.yml
  pyproject.toml
  tests/README.md
Labels: documentation, markdown, dependencies, internal

#387 fix: deviation name "created" -> "discovered"
  diode-server/reconciler/differ/differ.go
  diode-server/reconciler/differ/differ_test.go
  diode-server/reconciler/ops_test.go
Labels: go, diode-server, diode-reconciler

#388 feat: Validate token ownership
  diode-server/auth/mocks/tokenownershipprovider.go
  diode-server/auth/server.go
  diode-server/auth/server_test.go
Labels: go, diode-server
