Repository netboxlabs/diode, pull requests merged in 2025-06, with the labels that each got.

#354 Update README.md
  README.md
Labels: markdown

#355 docs: update README files and add GET_STARTED guide
  README.md
  diode-server/GET_STARTED.md
  diode-server/README.md
Labels: markdown, diode-server

#351 chore: add helm chart testing action
  .github/workflows/configs/helm-ct.yaml
  .github/workflows/helm-lint.yaml
  charts/diode/Chart.yaml
  charts/diode/values.yaml
Labels: github-actions, diode-chart

#359 feat: support creating clients with token audience in cli
  diode-server/auth/cli/cli.go
  diode-server/auth/manager.go
  diode-server/auth/manager_hydra.go
  diode-server/auth/manager_hydra_integration_test.go
  diode-server/auth/server.go
  diode-server/auth/server_hydra_integration_test.go
  diode-server/auth/server_test.go
  diode-server/cmd/reconciler/main.go
  diode-server/netboxdiodeplugin/client.go
  diode-server/netboxdiodeplugin/client_test.go
  diode-server/reconciler/ingestion_processor_test.go
Labels: go, diode-server, diode-reconciler

#361 feat: support common labels and annotations for all chart resources
  .github/workflows/configs/helm-ct.yaml
  charts/diode/Chart.yaml
  charts/diode/README.md
  charts/diode/templates/_helpers.tpl
  charts/diode/templates/cert-issuer.yaml
  charts/diode/templates/diode-auth-bootstrap-job.yaml
  charts/diode/templates/diode-auth-configmap.yaml
  charts/diode/templates/diode-auth-deployment.yaml
  charts/diode/templates/diode-auth-service.yaml
  charts/diode/templates/diode-auth-serviceaccount.yaml
  charts/diode/templates/diode-hydra-extra-initcontainer-configmap.yaml
  charts/diode/templates/diode-ingester-configmap.yaml
  charts/diode/templates/diode-ingester-deployment.yaml
  charts/diode/templates/diode-ingester-service.yaml
  charts/diode/templates/diode-ingester-serviceaccount.yaml
  charts/diode/templates/diode-postgresql-initdb-scriptsconfigmap.yaml
  charts/diode/templates/diode-reconciler-configmap.yaml
  charts/diode/templates/diode-reconciler-deployment.yaml
  charts/diode/templates/diode-reconciler-service.yaml
  charts/diode/templates/diode-reconciler-serviceaccount.yaml
  charts/diode/templates/ingress-grpc.yaml
  charts/diode/templates/ingress-http.yaml
  charts/diode/values.yaml
Labels: markdown, github-actions, diode-chart

#363 docs: there is no diode auth bootstrap deployment
  .github/workflows/helm-lint.yaml
  charts/diode/README.md
  charts/diode/values.yaml
Labels: markdown, github-actions, diode-chart

#364 🚚 release
  .github/workflows/configs/helm-ct.yaml
  .github/workflows/helm-lint.yaml
  GET_STARTED.md
  README.md
  charts/diode/Chart.yaml
  charts/diode/README.md
  charts/diode/templates/_helpers.tpl
  charts/diode/templates/cert-issuer.yaml
  charts/diode/templates/diode-auth-bootstrap-job.yaml
  charts/diode/templates/diode-auth-configmap.yaml
  charts/diode/templates/diode-auth-deployment.yaml
  charts/diode/templates/diode-auth-service.yaml
  charts/diode/templates/diode-auth-serviceaccount.yaml
  charts/diode/templates/diode-hydra-extra-initcontainer-configmap.yaml
  charts/diode/templates/diode-ingester-configmap.yaml
  charts/diode/templates/diode-ingester-deployment.yaml
  charts/diode/templates/diode-ingester-service.yaml
  charts/diode/templates/diode-ingester-serviceaccount.yaml
  charts/diode/templates/diode-postgresql-initdb-scriptsconfigmap.yaml
  charts/diode/templates/diode-reconciler-configmap.yaml
  charts/diode/templates/diode-reconciler-deployment.yaml
  charts/diode/templates/diode-reconciler-service.yaml
  charts/diode/templates/diode-reconciler-serviceaccount.yaml
  charts/diode/templates/ingress-grpc.yaml
  charts/diode/templates/ingress-http.yaml
  charts/diode/values.yaml
  diode-server/README.md
  diode-server/auth/cli/cli.go
  diode-server/auth/manager.go
  diode-server/auth/manager_hydra.go
  diode-server/auth/manager_hydra_integration_test.go
  diode-server/auth/server.go
  diode-server/auth/server_hydra_integration_test.go
  diode-server/auth/server_test.go
  diode-server/cmd/reconciler/main.go
  diode-server/netboxdiodeplugin/client.go
  diode-server/netboxdiodeplugin/client_test.go
  diode-server/reconciler/ingestion_processor.go
  diode-server/reconciler/ingestion_processor_test.go
Labels: go, markdown, github-actions, diode-server, diode-reconciler, diode-chart

#366 chore: inject config into ingestion processor rather than reparsing
  diode-server/cmd/reconciler/main.go
  diode-server/reconciler/ingestion_processor.go
  diode-server/reconciler/ingestion_processor_test.go
Labels: go, diode-server, diode-reconciler

#367 fix: the filenames don't change, so don't parameterize them
  charts/diode/Chart.yaml
  charts/diode/README.md
  charts/diode/templates/diode-auth-deployment.yaml
  charts/diode/templates/diode-ingester-deployment.yaml
  charts/diode/templates/diode-reconciler-deployment.yaml
Labels: markdown, diode-chart
