Repository netboxlabs/diode, pull requests merged in 2025-01, with the labels that each got.

#217 fix: pg view for ingestion logs with latest change set only
  diode-server/dbstore/postgres/migrations/00002_change_sets.sql
Labels: diode-server

#218 feat: add deviation name to change set
  .github/golangci.yaml
  diode-proto/diode/v1/reconciler.proto
  diode-server/dbstore/postgres/migrations/00001_ingestion_logs.sql
  diode-server/dbstore/postgres/migrations/00002_change_sets.sql
  diode-server/dbstore/postgres/queries/change_sets.sql
  diode-server/dbstore/postgres/queries/ingestion_logs.sql
  diode-server/dbstore/postgres/repository.go
  diode-server/gen/dbstore/postgres/adapters.go
  diode-server/gen/dbstore/postgres/change_sets.sql.go
  diode-server/gen/dbstore/postgres/ingestion_logs.sql.go
  diode-server/gen/dbstore/postgres/types.go
  diode-server/gen/diode/v1/reconcilerpb/reconciler.pb.go
  diode-server/gen/diode/v1/reconcilerpb/reconciler.pb.validate.go
  diode-server/netbox/dcim.go
  diode-server/netbox/dcim_wrappers.go
  diode-server/netbox/ipam.go
  diode-server/netbox/ipam_wrappers.go
  diode-server/netbox/virtualization.go
  diode-server/netbox/virtualization_wrappers.go
  diode-server/netbox/wrappers.go
  diode-server/netboxdiodeplugin/mocks/netboxapi.go
  diode-server/reconciler/changeset/changeset.go
  diode-server/reconciler/differ/differ.go
  diode-server/reconciler/differ/differ_dcim_test.go
  diode-server/reconciler/differ/differ_ipam_test.go
  diode-server/reconciler/differ/differ_test.go
  diode-server/reconciler/differ/differ_virt_test.go
  diode-server/reconciler/ingestion_processor.go
  diode-server/reconciler/ingestion_processor_internal_test.go
  diode-server/reconciler/mocks/client.go
  diode-server/reconciler/mocks/redisclient.go
  diode-server/reconciler/mocks/repository.go
  diode-server/reconciler/ops.go
  diode-server/reconciler/server_internal_test.go
  docs/diode-proto.md
Labels: documentation, go, markdown, diode-proto, diode-server, diode-reconciler

#221 fix: diff virtualization.cluster with status
  diode-server/netbox/virtualization_wrappers.go
  diode-server/reconciler/differ/differ_virt_test.go
Labels: go, diode-server, diode-reconciler

#219 feat: rework ingestion log states
  diode-proto/diode/v1/reconciler.proto
  diode-server/gen/diode/v1/reconcilerpb/reconciler.pb.go
  diode-server/netbox/dcim_wrappers.go
  diode-server/netbox/ipam_wrappers.go
  diode-server/netbox/virtualization_wrappers.go
  diode-server/netbox/wrappers.go
  diode-server/netboxdiodeplugin/client.go
  diode-server/reconciler/ingestion_processor.go
  diode-server/reconciler/ingestion_processor_internal_test.go
  diode-server/reconciler/logs_retriever.go
  diode-server/reconciler/ops.go
  diode-server/reconciler/server_internal_test.go
  docs/diode-proto.md
Labels: documentation, go, markdown, diode-proto, diode-server, diode-reconciler

#223 chore: ingestion refactoring
  diode-server/cmd/reconciler/main.go
  diode-server/migrator/migrator.go
  diode-server/migrator/migrator_test.go
  diode-server/reconciler/ingestion_processor.go
  diode-server/reconciler/ingestion_processor_internal_test.go
  diode-server/reconciler/ingestion_processor_test.go
  diode-server/reconciler/mocks/ingestionprocessorops.go
  diode-server/reconciler/ops.go
Labels: go, diode-server, diode-reconciler

#225 feat: add RetrieveDeviations rpc
  .github/golangci.yaml
  diode-proto/diode/v1/reconciler.proto
  diode-server/README.md
  diode-server/docker/docker-compose.yaml
  diode-server/docker/sample.env
  diode-server/gen/diode/v1/reconcilerpb/reconciler.pb.go
  diode-server/gen/diode/v1/reconcilerpb/reconciler.pb.validate.go
  diode-server/gen/diode/v1/reconcilerpb/reconciler_grpc.pb.go
  diode-server/ingester/component.go
  diode-server/ingester/component_test.go
  diode-server/ingester/config.go
  diode-server/reconciler/api_keys.go
  diode-server/reconciler/client.go
  diode-server/reconciler/client_test.go
  diode-server/reconciler/config.go
  diode-server/reconciler/mocks/client.go
  diode-server/reconciler/reconciler_test.go
  diode-server/reconciler/server.go
  diode-server/reconciler/server_internal_test.go
  diode-server/reconciler/server_test.go
  docs/diode-proto.md
Labels: documentation, go, markdown, diode-proto, diode-server, diode-ingester, diode-reconciler

#228 fix:correct view name in down migration
  diode-server/dbstore/postgres/migrations/00002_change_sets.sql
Labels: diode-server

#230 feat: retrieve deviations rpc implementation
  diode-proto/diode/v1/reconciler.proto
  diode-server/Makefile
  diode-server/dbstore/postgres/migrations/00002_change_sets.sql
  diode-server/dbstore/postgres/queries/change_sets.sql
  diode-server/dbstore/postgres/queries/deviations.sql
  diode-server/dbstore/postgres/repository.go
  diode-server/gen/dbstore/postgres/change_sets.sql.go
  diode-server/gen/dbstore/postgres/deviations.sql.go
  diode-server/gen/dbstore/postgres/types.go
  diode-server/gen/diode/v1/reconcilerpb/reconciler.pb.go
  diode-server/gen/diode/v1/reconcilerpb/reconciler.pb.validate.go
  diode-server/netbox/dcim_wrappers.go
  diode-server/netbox/ipam_wrappers.go
  diode-server/netbox/virtualization_wrappers.go
  diode-server/netbox/wrappers.go
  diode-server/reconciler/applier/applier.go
  diode-server/reconciler/applier/applier_test.go
  diode-server/reconciler/changeset/changeset.go
  diode-server/reconciler/deviation.go
  diode-server/reconciler/differ/differ.go
  diode-server/reconciler/differ/differ_dcim_test.go
  diode-server/reconciler/differ/differ_ipam_test.go
  diode-server/reconciler/differ/differ_test.go
  diode-server/reconciler/differ/differ_virt_test.go
  diode-server/reconciler/ingestion_processor_internal_test.go
  diode-server/reconciler/mocks/repository.go
  diode-server/reconciler/repository.go
  diode-server/reconciler/server.go
  diode-server/sqlc.yaml
  docs/diode-proto.md
Labels: documentation, go, markdown, diode-proto, diode-server, diode-reconciler, internal

#232 chore: postgres - add deviations view
  diode-server/dbstore/postgres/migrations/00002_change_sets.sql
  diode-server/dbstore/postgres/queries/deviations.sql
  diode-server/dbstore/postgres/queries/ingestion_logs.sql
  diode-server/gen/dbstore/postgres/deviations.sql.go
  diode-server/gen/dbstore/postgres/ingestion_logs.sql.go
  diode-server/gen/dbstore/postgres/types.go
  diode-server/sqlc.yaml
Labels: go, diode-server

#233 fix: retrieve deviations rpc state and branch id
  diode-server/dbstore/postgres/queries/deviations.sql
  diode-server/dbstore/postgres/repository.go
  diode-server/gen/dbstore/postgres/deviations.sql.go
  diode-server/reconciler/differ/differ.go
  diode-server/reconciler/differ/differ_test.go
Labels: go, diode-server, diode-reconciler

#234 feat: retrieve deviation by id rpc
  diode-proto/diode/v1/reconciler.proto
  diode-server/dbstore/postgres/queries/deviations.sql
  diode-server/dbstore/postgres/repository.go
  diode-server/gen/dbstore/postgres/deviations.sql.go
  diode-server/gen/diode/v1/diodepb/ingester.pb.go
  diode-server/gen/diode/v1/reconcilerpb/reconciler.pb.go
  diode-server/gen/diode/v1/reconcilerpb/reconciler.pb.validate.go
  diode-server/gen/diode/v1/reconcilerpb/reconciler_grpc.pb.go
  diode-server/reconciler/deviation.go
  diode-server/reconciler/deviation_test.go
  diode-server/reconciler/mocks/repository.go
  diode-server/reconciler/repository.go
  diode-server/reconciler/server.go
  docs/diode-proto.md
Labels: documentation, go, markdown, diode-proto, diode-server, diode-reconciler

#235 fix: add missing deviation timestamps
  diode-server/dbstore/postgres/repository.go
  diode-server/reconciler/deviation_test.go
Labels: go, diode-server, diode-reconciler

#236 fix: NO_CHANGES state on empty change set
  diode-server/reconciler/ingestion_processor_internal_test.go
  diode-server/reconciler/ops.go
Labels: go, diode-server, diode-reconciler

#237 fix: ensure consistent change data json fields order
  diode-server/dbstore/postgres/repository.go
  diode-server/reconciler/deviation_test.go
Labels: go, diode-server, diode-reconciler

#238 fix: do not panic when retrieving deviations with nil change set
  diode-proto/diode/v1/reconciler.proto
  diode-server/dbstore/postgres/repository.go
  diode-server/gen/diode/v1/reconcilerpb/reconciler.pb.go
  docs/diode-proto.md
Labels: documentation, go, markdown, diode-proto, diode-server

#239 feat: add source_ts to ingestion log and deviation
  diode-proto/diode/v1/reconciler.proto
  diode-server/dbstore/postgres/migrations/00001_ingestion_logs.sql
  diode-server/dbstore/postgres/queries/ingestion_logs.sql
  diode-server/dbstore/postgres/repository.go
  diode-server/gen/dbstore/postgres/adapters.go
  diode-server/gen/dbstore/postgres/deviations.sql.go
  diode-server/gen/dbstore/postgres/ingestion_logs.sql.go
  diode-server/gen/dbstore/postgres/types.go
  diode-server/gen/diode/v1/reconcilerpb/reconciler.pb.go
  diode-server/gen/diode/v1/reconcilerpb/reconciler.pb.validate.go
  diode-server/reconciler/deviation_test.go
  diode-server/reconciler/ingestion_processor.go
  diode-server/reconciler/ingestion_processor_internal_test.go
  diode-server/reconciler/server_internal_test.go
  docs/diode-proto.md
Labels: documentation, go, markdown, diode-proto, diode-server, diode-reconciler

#240 fix: add a placeholder changeset if diffing fails
  diode-server/reconciler/differ/differ.go
  diode-server/reconciler/ingestion_processor_test.go
  diode-server/reconciler/ops.go
  diode-server/reconciler/ops_test.go
Labels: go, diode-server, diode-reconciler

#241 fix: add custom json unmarshal for ip address assigned object
  diode-server/netbox/ipam.go
  diode-server/netbox/ipam_test.go
Labels: go, diode-server
