Repository netboxlabs/diode, pull requests merged in 2025-02, with the labels that each got.

#245 fix: unmarshal error
  diode-server/dbstore/postgres/repository.go
Labels: go, diode-server

#246 fix: dcim.interface missing change before state
  diode-server/netbox/dcim_wrappers.go
Labels: go, diode-server

#248 fix: don't truncate/split producer app name source
  diode-server/dbstore/postgres/repository.go
Labels: documentation, go, markdown, diode-proto, dependencies, diode-server, diode-ingester, diode-reconciler, internal

#249 fix: trigger update to updated_at on ingestion log row update
  diode-server/dbstore/postgres/migrations/00001_ingestion_logs.sql
Labels: diode-server

#244 feat: add some basic open telemetry setup and metrics
  diode-server/cmd/ingester/main.go
  diode-server/cmd/reconciler/main.go
  diode-server/docker/docker-compose.yaml
  diode-server/docker/sample.env
  diode-server/go.mod
  diode-server/go.sum
  diode-server/ingester/component.go
  diode-server/ingester/component_test.go
  diode-server/ingester/config.go
  diode-server/ingester/metrics.go
  diode-server/netboxdiodeplugin/mocks/netboxapi.go
  diode-server/reconciler/config.go
  diode-server/reconciler/ingestion_processor.go
  diode-server/reconciler/ingestion_processor_internal_test.go
  diode-server/reconciler/ingestion_processor_metrics.go
  diode-server/reconciler/ingestion_processor_test.go
  diode-server/reconciler/mocks/ingestionprocessormetrics.go
  diode-server/reconciler/mocks/ingestionprocessorops.go
  diode-server/reconciler/mocks/redisclient.go
  diode-server/reconciler/mocks/repository.go
  diode-server/reconciler/server.go
  diode-server/telemetry/config.go
  diode-server/telemetry/constants.go
  diode-server/telemetry/prometheus.go
  diode-server/telemetry/setup.go
  diode-server/telemetry/util.go
Labels: go, dependencies, diode-server, diode-ingester, diode-reconciler

#250 Fix: update migration to fix broken function declaration
  diode-server/dbstore/postgres/migrations/00001_ingestion_logs.sql
Labels: diode-server
