Repository netboxlabs/diode, pull requests merged in 2025-08, with the labels that each got.

#383 feat: basic deduplication of ingested entities
  diode-server/cmd/reconciler/main.go
  diode-server/dbstore/postgres/migrations/20250707184637_entity_deduplication.sql
  diode-server/dbstore/postgres/queries/change_sets.sql
  diode-server/dbstore/postgres/queries/ingestion_logs.sql
  diode-server/dbstore/postgres/repository.go
  diode-server/entityhash/entityhash.go
  diode-server/entityhash/entityhash_test.go
  diode-server/gen/dbstore/postgres/change_sets.sql.go
  diode-server/gen/dbstore/postgres/db.go
  diode-server/gen/dbstore/postgres/deviations.sql.go
  diode-server/gen/dbstore/postgres/ingestion_logs.sql.go
  diode-server/gen/dbstore/postgres/types.go
  diode-server/go.mod
  diode-server/go.sum
  diode-server/reconciler/ingestion_processor.go
  diode-server/reconciler/ingestion_processor_internal_test.go
  diode-server/reconciler/ingestion_processor_test.go
  diode-server/reconciler/mocks/createingestionlogresult.go
  diode-server/reconciler/mocks/ingestionprocessorops.go
  diode-server/reconciler/mocks/limits.go
  diode-server/reconciler/mocks/repository.go
  diode-server/reconciler/ops.go
  diode-server/reconciler/ops/types.go
  diode-server/reconciler/ops_test.go
  diode-server/reconciler/repository.go
  diode-server/telemetry/constants.go
Labels: documentation, go, markdown, diode-proto, dependencies, diode-server, diode-reconciler

#390 fix: Resilient redis client
  diode-server/go.mod
  diode-server/go.sum
  diode-server/reconciler/ingestion_processor.go
Labels: go, dependencies, diode-server, diode-reconciler

#394 🚚 release
  charts/diode/Chart.yaml
  charts/diode/README.md
  charts/diode/values.yaml
Labels: markdown, diode-chart

#397 fix: return gRPC error when failure to write to Redis stream
  diode-server/ingester/component.go
Labels: go, diode-server, diode-ingester

#398 feat: separate enabling controller from resources
  charts/diode/Chart.lock
  charts/diode/Chart.yaml
  charts/diode/README.md
  charts/diode/values.yaml
Labels: markdown, diode-chart

#400 chore: upgrade semantic release
  .github/workflows/reusable_semantic_release.yaml
  .github/workflows/reusable_semantic_release_get_next_version.yaml
Labels: github-actions
