Repository netboxlabs/diode, pull requests merged in 2025-04, with the labels that each got.

#255 adds rate limiting to calls to netbox
  diode-server/cmd/reconciler/main.go
  diode-server/netboxdiodeplugin/client.go
  diode-server/netboxdiodeplugin/client_test.go
  diode-server/reconciler/config.go
  diode-server/reconciler/ingestion_processor_test.go
Labels: go, diode-server, diode-reconciler

#256 fix: include several missing many-many references in data model
  diode-proto/diode/v1/ingester.proto
  diode-server/gen/diode/v1/diodepb/ingester.pb.go
  diode-server/gen/diode/v1/diodepb/ingester.pb.validate.go
  diode-server/gen/diode/v1/diodepb/ingester_grpc.pb.go
  diode-server/gen/netbox/server_utils.go
  docs/diode-proto.md
Labels: documentation, go, markdown, diode-proto, diode-server

#259 update datamodel
  diode-proto/diode/v1/ingester.proto
  diode-proto/diode/v1/reconciler.proto
  diode-server/cmd/reconciler/main.go
  diode-server/dbstore/postgres/migrations/00001_ingestion_logs.sql
  diode-server/dbstore/postgres/migrations/00002_change_sets.sql
  diode-server/dbstore/postgres/queries/change_sets.sql
  diode-server/dbstore/postgres/repository.go
  diode-server/errors/errors.go
  diode-server/gen/dbstore/postgres/change_sets.sql.go
  diode-server/gen/dbstore/postgres/db.go
  diode-server/gen/dbstore/postgres/deviations.sql.go
  diode-server/gen/dbstore/postgres/ingestion_logs.sql.go
  diode-server/gen/dbstore/postgres/types.go
  diode-server/gen/diode/v1/diodepb/ingester.pb.go
  diode-server/gen/diode/v1/diodepb/ingester.pb.validate.go
  diode-server/gen/diode/v1/diodepb/ingester_grpc.pb.go
  diode-server/gen/diode/v1/reconcilerpb/reconciler.pb.go
  diode-server/gen/diode/v1/reconcilerpb/reconciler.pb.validate.go
  diode-server/gen/netbox/server_utils.go
  diode-server/go.mod
  diode-server/go.sum
  diode-server/netbox/dcim.go
  diode-server/netbox/dcim_wrappers.go
  diode-server/netbox/ipam.go
  diode-server/netbox/ipam_test.go
  diode-server/netbox/ipam_wrappers.go
  diode-server/netbox/virtualization.go
  diode-server/netbox/virtualization_wrappers.go
  diode-server/netbox/wrappers.go
  diode-server/netboxdiodeplugin/client.go
  diode-server/netboxdiodeplugin/client_test.go
  diode-server/netboxdiodeplugin/mocks/netboxapi.go
  diode-server/reconciler/applier/applier.go
  diode-server/reconciler/applier/applier_test.go
  diode-server/reconciler/changeset/changeset.go
  diode-server/reconciler/config.go
  diode-server/reconciler/differ/differ.go
  diode-server/reconciler/differ/differ_dcim_test.go
  diode-server/reconciler/differ/differ_ipam_test.go
  diode-server/reconciler/differ/differ_test.go
  diode-server/reconciler/differ/differ_virt_test.go
  diode-server/reconciler/ingestion_processor.go
  diode-server/reconciler/ingestion_processor_internal_test.go
  diode-server/reconciler/ingestion_processor_test.go
  diode-server/reconciler/mocks/ingestionprocessormetrics.go
  diode-server/reconciler/mocks/ingestionprocessorops.go
  diode-server/reconciler/mocks/redisclient.go
  diode-server/reconciler/mocks/repository.go
  diode-server/reconciler/ops.go
  diode-server/reconciler/ops_test.go
  diode-server/reconciler/repository.go
  diode-server/reconciler/server_internal_test.go
  diode-server/sqlc.yaml
  docs/diode-proto.md
Labels: documentation, go, markdown, diode-proto, dependencies, diode-server, diode-ingester, diode-reconciler, internal

#260 feat: add oauth2 server (ory/hydra) to docker compose
  diode-server/docker/docker-compose.yaml
  diode-server/docker/postgres/init/01-init-databases.sh
  diode-server/docker/sample.env
Labels: diode-server

#261 fix: make ingestion log errors same as deviation errors
  diode-proto/diode/v1/reconciler.proto
  diode-server/dbstore/postgres/repository.go
  diode-server/gen/dbstore/postgres/adapters.go
  diode-server/gen/diode/v1/reconcilerpb/reconciler.pb.go
  diode-server/gen/diode/v1/reconcilerpb/reconciler.pb.validate.go
  diode-server/reconciler/server_internal_test.go
  docs/diode-proto.md
Labels: documentation, go, markdown, diode-proto, diode-server, diode-reconciler

#263 feat: updates for custom fields
  diode-proto/diode/v1/ingester.proto
  diode-server/gen/diode/v1/diodepb/ingester.pb.go
  diode-server/gen/diode/v1/diodepb/ingester.pb.validate.go
  diode-server/gen/diode/v1/diodepb/ingester_grpc.pb.go
  diode-server/gen/netbox/server_utils.go
  diode-server/reconciler/differ/differ.go
  docs/diode-proto.md
Labels: documentation, go, markdown, diode-proto, diode-server, diode-reconciler

#265 feat(diode-auth): configure nginx with OAuth2 token introspection
  .gitignore
  diode-server/docker/docker-compose.yaml
  diode-server/docker/nginx/nginx.conf
  diode-server/docker/oauth2/client/.gitkeep
Labels: diode-server, internal

#266 fix: fix recording of errors from diffs that generate a 500 from NetBox
  diode-server/netboxdiodeplugin/client.go
  diode-server/netboxdiodeplugin/client_test.go
  diode-server/reconciler/changeset/changeset.go
  diode-server/reconciler/ops_test.go
Labels: go, diode-server, diode-reconciler

#268 fix: use snake_case protoJSON
  diode-server/dbstore/postgres/repository.go
  diode-server/netboxdiodeplugin/client.go
Labels: go, diode-server

#267 feat(diode-auth): implement /token endpoint
  diode-server/Makefile
  diode-server/auth/config.go
  diode-server/auth/server.go
  diode-server/auth/server_test.go
  diode-server/auth/tokens.go
  diode-server/cmd/auth/main.go
  diode-server/docker/docker-compose.yaml
  diode-server/docker/nginx/nginx.conf
  diode-server/docker/oauth2/bootstrap-clients.sh
  diode-server/docker/oauth2/client/.gitkeep
  diode-server/docker/sample.env
  diode-server/go.mod
  diode-server/go.sum
Labels: go, dependencies, diode-server, internal

#269 chore: remove api key authentication
  charts/diode/README.md
  charts/diode/templates/diode-ingester-secret.yaml
  charts/diode/templates/diode-reconciler-secret.yaml
  charts/diode/values.yaml
  diode-server/README.md
  diode-server/docker/docker-compose.yaml
  diode-server/docker/netbox/env/netbox.env
  diode-server/docker/sample.env
  diode-server/ingester/component.go
  diode-server/ingester/component_test.go
  diode-server/ingester/config.go
  diode-server/reconciler/config.go
  diode-server/reconciler/reconciler_test.go
  diode-server/reconciler/server.go
  diode-server/reconciler/server_internal_test.go
Labels: go, markdown, diode-server, diode-ingester, diode-reconciler, diode-chart

#276 feat: simplify docker-compose experience
  .gitignore
  diode-server/README.md
  diode-server/docker/docker-compose.dev.yaml
  diode-server/docker/docker-compose.yaml
  diode-server/docker/oauth2/bootstrap-clients.sh
  diode-server/docker/oauth2/client/.keep
  diode-server/docker/postgres/init/01-init-databases.sh
  diode-server/docker/sample.env
  diode-server/docker/scripts/generate-client-credentials.sh
  diode-server/docker/scripts/generate-env-secrets.sh
Labels: markdown, diode-server, internal

#273 feat: diode helm chart 1.0.0
  charts/diode/Chart.lock
  charts/diode/Chart.yaml
  charts/diode/README.md
  charts/diode/README.md.gotmpl
  charts/diode/scripts/generate-client-credentials.sh
  charts/diode/templates/NOTES.txt
  charts/diode/templates/_helpers.tpl
  charts/diode/templates/cert-issuer.yaml
  charts/diode/templates/diode-auth-bootstrap-job.yaml
  charts/diode/templates/diode-auth-configmap.yaml
  charts/diode/templates/diode-auth-deployment.yaml
  charts/diode/templates/diode-auth-service.yaml
  charts/diode/templates/diode-auth-serviceaccount.yaml
  charts/diode/templates/diode-hydra-extra-initcontainer-configmap.yaml
  charts/diode/templates/diode-ingester-configmap.yaml
  charts/diode/templates/diode-ingester-deployment.yaml
  charts/diode/templates/diode-ingester-secret.yaml
  charts/diode/templates/diode-ingester-service.yaml
  charts/diode/templates/diode-ingester-serviceaccount.yaml
  charts/diode/templates/diode-ingress.yaml
  charts/diode/templates/diode-issuer.yaml
  charts/diode/templates/diode-postgresql-initdb-scriptsconfigmap.yaml
  charts/diode/templates/diode-reconciler-configmap.yaml
  charts/diode/templates/diode-reconciler-deployment.yaml
  charts/diode/templates/diode-reconciler-secret.yaml
  charts/diode/templates/diode-reconciler-service.yaml
  charts/diode/templates/diode-reconciler-serviceaccount.yaml
  charts/diode/templates/ingress-grpc.yaml
  charts/diode/templates/ingress-http.yaml
  charts/diode/values.yaml
Labels: markdown, diode-chart

#278 adds flag to create directory correctly if it doesnt exist
  diode-server/README.md
Labels: markdown, diode-server

#279 feat: update NGINX configuration for auth endpoint + hydra config updates
  charts/diode/README.md
  charts/diode/values.yaml
  diode-server/auth/server.go
  diode-server/dbstore/postgres/repository.go
  diode-server/docker/docker-compose.yaml
  diode-server/docker/nginx/nginx.conf
  diode-server/docker/sample.env
  diode-server/netboxdiodeplugin/client.go
Labels: go, markdown, diode-server, diode-chart

#280 refactor: improve error logging and request handling in auth server
  diode-server/auth/server.go
Labels: go, diode-server

#282 feat: netboxdiodeplugin - use new oauth2 token scopes
  diode-server/cmd/reconciler/main.go
  diode-server/netboxdiodeplugin/client.go
  diode-server/netboxdiodeplugin/client_test.go
  diode-server/reconciler/ingestion_processor_test.go
Labels: go, diode-server, diode-reconciler

#281 refactor: update client credentials scopes
  charts/diode/scripts/generate-client-credentials.sh
  diode-server/docker/oauth2/bootstrap-clients.sh
  diode-server/docker/scripts/generate-client-credentials.sh
Labels: diode-server, diode-chart

#283 feat: check token scopes in reconciler, ingester
  diode-server/authutil/check.go
  diode-server/authutil/check_test.go
  diode-server/authutil/constants.go
  diode-server/cmd/reconciler/main.go
  diode-server/ingester/component.go
  diode-server/ingester/component_test.go
  diode-server/netboxdiodeplugin/client.go
  diode-server/reconciler/server.go
  diode-server/reconciler/server_test.go
Labels: go, diode-server, diode-ingester, diode-reconciler

#285 feat: diode chart - add grpc service names configuration
  charts/diode/README.md
  charts/diode/templates/_helpers.tpl
  charts/diode/templates/ingress-grpc.yaml
  charts/diode/values.yaml
Labels: markdown, diode-chart

#287 perf: license update to NetBox Limited Use License 1.0
  LICENSE.md
  README.md
  diode-server/README.md
  diode-server/docker/Dockerfile
  diode-server/docker/Dockerfile-build
  diode-server/docker/Dockerfile-build.auth
  diode-server/docker/Dockerfile-build.ingester
  diode-server/docker/Dockerfile-build.reconciler
  diode-server/docker/Dockerfile.auth
  diode-server/docker/Dockerfile.ingester
  diode-server/docker/Dockerfile.reconciler
Labels: markdown, diode-server, build

#288 fix: adjust deviation names for newer cases
  diode-server/reconciler/differ/differ.go
  diode-server/reconciler/differ/differ_test.go
Labels: go, diode-server, diode-reconciler

#291 fix: gha helm release - missing repo
  .github/workflows/helm-release.yaml
Labels: github-actions

#292 fix: adjust workdir, copy non build items from workdir
  diode-server/docker/Dockerfile-build
  diode-server/docker/Dockerfile-build.auth
  diode-server/docker/Dockerfile-build.ingester
  diode-server/docker/Dockerfile-build.reconciler
Labels: diode-server, build

#293 🚀 release: 1.0.0
  .github/workflows/helm-release.yaml
  diode-server/docker/Dockerfile-build
  diode-server/docker/Dockerfile-build.auth
  diode-server/docker/Dockerfile-build.ingester
  diode-server/docker/Dockerfile-build.reconciler
Labels: github-actions, diode-server, build

#295 feat: update image configuration in diode chart
  charts/diode/Chart.yaml
  charts/diode/README.md
  charts/diode/templates/diode-auth-bootstrap-job.yaml
  charts/diode/templates/diode-auth-deployment.yaml
  charts/diode/templates/diode-ingester-deployment.yaml
  charts/diode/templates/diode-reconciler-deployment.yaml
  charts/diode/values.yaml
Labels: markdown, diode-chart

#296 feat: add support for existing secrets in diode chart
  charts/diode/README.md
  charts/diode/templates/_helpers.tpl
Labels: markdown, diode-chart

#299 chore: remove netbox docker-compose
  Makefile
  diode-server/Makefile
  diode-server/docker/docker-compose.netbox.yaml
  diode-server/docker/netbox/Dockerfile-diode
  diode-server/docker/netbox/configuration/configuration.py
  diode-server/docker/netbox/configuration/extra.py
  diode-server/docker/netbox/configuration/ldap/extra.py
  diode-server/docker/netbox/configuration/ldap/ldap_config.py
  diode-server/docker/netbox/configuration/logging.py
  diode-server/docker/netbox/configuration/plugins.py
  diode-server/docker/netbox/docker-entrypoint.sh
  diode-server/docker/netbox/env/netbox.env
  diode-server/docker/netbox/env/postgres.env
  diode-server/docker/netbox/env/redis-cache.env
  diode-server/docker/netbox/env/redis.env
  diode-server/docker/netbox/launch-netbox.sh
  diode-server/docker/netbox/nginx-unit.json
  diode-server/docker/netbox/requirements-plugins.txt
Labels: python, diode-server, internal, build

#298 feat: diode helm chart - add quickstart script for namespace and resource setup
  charts/diode/README.md
  charts/diode/README.md.gotmpl
  charts/diode/scripts/quickstart.sh
Labels: markdown, diode-chart

#301 fix: update quickstart script URL in README for Docker setup
  diode-server/README.md
Labels: markdown, diode-server

#300 🚚 release
  .github/workflows/server-release.yaml
  Makefile
  charts/diode/Chart.yaml
  charts/diode/README.md
  charts/diode/README.md.gotmpl
  charts/diode/scripts/quickstart.sh
  charts/diode/templates/_helpers.tpl
  charts/diode/templates/diode-auth-bootstrap-job.yaml
  charts/diode/templates/diode-auth-deployment.yaml
  charts/diode/templates/diode-ingester-deployment.yaml
  charts/diode/templates/diode-reconciler-deployment.yaml
  charts/diode/values.yaml
  diode-server/Makefile
  diode-server/README.md
  diode-server/docker/docker-compose.dev.yaml
  diode-server/docker/docker-compose.netbox.yaml
  diode-server/docker/docker-compose.yaml
  diode-server/docker/netbox/Dockerfile-diode
  diode-server/docker/netbox/configuration/configuration.py
  diode-server/docker/netbox/configuration/extra.py
  diode-server/docker/netbox/configuration/ldap/extra.py
  diode-server/docker/netbox/configuration/ldap/ldap_config.py
  diode-server/docker/netbox/configuration/logging.py
  diode-server/docker/netbox/configuration/plugins.py
  diode-server/docker/netbox/docker-entrypoint.sh
  diode-server/docker/netbox/env/netbox.env
  diode-server/docker/netbox/env/postgres.env
  diode-server/docker/netbox/env/redis-cache.env
  diode-server/docker/netbox/env/redis.env
  diode-server/docker/netbox/launch-netbox.sh
  diode-server/docker/netbox/nginx-unit.json
  diode-server/docker/netbox/requirements-plugins.txt
  diode-server/docker/scripts/quickstart.sh
Labels: markdown, python, github-actions, diode-server, internal, build, diode-chart

#304 fix: add missing configuration options in helm chart
  charts/diode/Chart.yaml
  charts/diode/README.md
  charts/diode/templates/diode-auth-configmap.yaml
  charts/diode/templates/diode-ingester-configmap.yaml
  charts/diode/templates/diode-reconciler-configmap.yaml
  charts/diode/values.yaml
Labels: markdown, diode-chart

#305 🚚 release helm chart
  charts/diode/Chart.yaml
  charts/diode/README.md
  charts/diode/templates/diode-auth-configmap.yaml
  charts/diode/templates/diode-ingester-configmap.yaml
  charts/diode/templates/diode-reconciler-configmap.yaml
  charts/diode/values.yaml
Labels: markdown, diode-chart

#307 🚚 release helm chart 1.2.0
  charts/diode/Chart.yaml
  charts/diode/README.md
  charts/diode/templates/diode-auth-bootstrap-job.yaml
  charts/diode/templates/diode-auth-deployment.yaml
  charts/diode/templates/diode-ingester-deployment.yaml
  charts/diode/templates/diode-reconciler-deployment.yaml
  charts/diode/values.yaml
Labels: markdown, diode-chart
