Repository netboxlabs/diode, pull requests merged in 2025-05, with the labels that each got.

#310 feat: customize ingress annotations
  charts/diode/Chart.yaml
  charts/diode/README.md
  charts/diode/templates/ingress-grpc.yaml
  charts/diode/templates/ingress-http.yaml
  charts/diode/values.yaml
Labels: markdown, diode-chart

#311 🚚 release: diode helm chart 1.3.0
  charts/diode/Chart.yaml
  charts/diode/README.md
  charts/diode/templates/ingress-grpc.yaml
  charts/diode/templates/ingress-http.yaml
  charts/diode/values.yaml
Labels: markdown, diode-chart

#308 feat: add a cli utility for managing clients
  diode-server/.mockery.yaml
  diode-server/Makefile
  diode-server/README.md
  diode-server/auth/manager.go
  diode-server/auth/manager_hydra.go
  diode-server/auth/manager_hydra_integration_test.go
  diode-server/auth/mocks/clientmanager.go
  diode-server/auth/mocks/tokenparser.go
  diode-server/cmd/authmanager/main.go
  diode-server/docker/Dockerfile-build.auth
  diode-server/docker/Dockerfile.auth
  diode-server/docker/scripts/dev-authmanager.sh
  diode-server/go.mod
  diode-server/go.sum
  diode-server/netboxdiodeplugin/mocks/netboxapi.go
  diode-server/reconciler/mocks/ingestionprocessormetrics.go
  diode-server/reconciler/mocks/ingestionprocessorops.go
  diode-server/reconciler/mocks/redisclient.go
  diode-server/reconciler/mocks/repository.go
Labels: go, markdown, dependencies, diode-server, diode-reconciler, internal, build

#313 feat: image pull policy in docker compose files and configure development setup
  diode-server/Makefile
  diode-server/docker/dev.env
  diode-server/docker/docker-compose.dev.yaml
  diode-server/docker/docker-compose.yaml
  diode-server/docker/scripts/configure-dev.sh
Labels: diode-server, internal

#314 fix: fix quoting of arguments
  diode-server/docker/scripts/dev-authmanager.sh
Labels: diode-server

#315 fix: reduce noise when calling dev authmanager
  diode-server/docker/scripts/dev-authmanager.sh
Labels: diode-server

#318 🚚 release
  diode-server/.mockery.yaml
  diode-server/Makefile
  diode-server/README.md
  diode-server/auth/manager.go
  diode-server/auth/manager_hydra.go
  diode-server/auth/manager_hydra_integration_test.go
  diode-server/auth/mocks/clientmanager.go
  diode-server/auth/mocks/tokenparser.go
  diode-server/cmd/authmanager/main.go
  diode-server/docker/Dockerfile-build.auth
  diode-server/docker/Dockerfile.auth
  diode-server/docker/dev.env
  diode-server/docker/docker-compose.dev.yaml
  diode-server/docker/docker-compose.yaml
  diode-server/docker/scripts/configure-dev.sh
  diode-server/docker/scripts/dev-authmanager.sh
  diode-server/go.mod
  diode-server/go.sum
  diode-server/netboxdiodeplugin/mocks/netboxapi.go
  diode-server/reconciler/mocks/ingestionprocessormetrics.go
  diode-server/reconciler/mocks/ingestionprocessorops.go
  diode-server/reconciler/mocks/redisclient.go
  diode-server/reconciler/mocks/repository.go
Labels: go, markdown, dependencies, diode-server, diode-reconciler, internal, build

#319 fix: fix authmanager build in Dockerfile-build.auth
  diode-server/docker/Dockerfile-build.auth
Labels: diode-server, build

#320 🚚 release
  diode-server/docker/Dockerfile-build.auth
Labels: go, markdown, dependencies, diode-server, diode-reconciler, internal, build

#316 feat: add image pull policy for init containers in helm chart
  charts/diode/Chart.yaml
  charts/diode/README.md
  charts/diode/templates/_helpers.tpl
  charts/diode/templates/diode-auth-bootstrap-job.yaml
  charts/diode/templates/diode-auth-deployment.yaml
  charts/diode/templates/diode-ingester-deployment.yaml
  charts/diode/templates/diode-reconciler-deployment.yaml
  charts/diode/values.yaml
Labels: markdown, diode-chart

#322 chore: update appVersion and image tags to 1.1.0 in Helm chart
  charts/diode/Chart.yaml
  charts/diode/README.md
  charts/diode/values.yaml
Labels: markdown, diode-chart

#323 🚚 release helm chart
  charts/diode/Chart.yaml
  charts/diode/README.md
  charts/diode/templates/_helpers.tpl
  charts/diode/templates/diode-auth-bootstrap-job.yaml
  charts/diode/templates/diode-auth-deployment.yaml
  charts/diode/templates/diode-ingester-deployment.yaml
  charts/diode/templates/diode-reconciler-deployment.yaml
  charts/diode/values.yaml
Labels: markdown, diode-chart

#327 fix: helm chart values small fixes
  charts/diode/Chart.yaml
  charts/diode/README.md
  charts/diode/values.yaml
Labels: markdown, diode-chart

#328 fix: helm chart - update ssl-redirect annotations to string format in values.yaml
  charts/diode/README.md
  charts/diode/README.md.gotmpl
  charts/diode/values.yaml
Labels: markdown, diode-chart

#330 fix: add auth endpoint for getting a client by id, back links
  diode-server/auth/manager.go
  diode-server/auth/manager_hydra.go
  diode-server/auth/server.go
  diode-server/auth/server_hydra_integration_test.go
  diode-server/auth/server_test.go
Labels: go, diode-server

#334 check that issued credentials work in token endpoint
  diode-server/auth/server_hydra_integration_test.go
Labels: go, diode-server

#332 🚀 release
  charts/diode/Chart.yaml
  charts/diode/README.md
  charts/diode/README.md.gotmpl
  charts/diode/values.yaml
  diode-server/auth/errors.go
  diode-server/auth/manager.go
  diode-server/auth/manager_hydra.go
  diode-server/auth/manager_hydra_integration_test.go
  diode-server/auth/mocks/tokenownershipprovider.go
  diode-server/auth/server.go
  diode-server/auth/server_hydra_integration_test.go
  diode-server/auth/server_test.go
  diode-server/cmd/auth/main.go
  diode-server/cmd/authmanager/main.go
  diode-server/go.mod
  diode-server/go.sum
Labels: go, markdown, dependencies, diode-server, diode-chart

#336 🚀 release helm chart
  charts/diode/Chart.lock
  charts/diode/Chart.yaml
  charts/diode/README.md
  charts/diode/values.yaml
Labels: markdown, diode-chart

#340 chore: factor out main bits of cli to a package
  diode-server/auth/cli/cli.go
  diode-server/cmd/authmanager/main.go
Labels: go, diode-server

#344 chore: bump go to 1.24 and golangci-lint to v2
  .github/golangci.yaml
  .github/workflows/go-test.yaml
  .github/workflows/golangci-lint.yaml
  .github/workflows/server-develop.yaml
  .github/workflows/server-release.yaml
  diode-server/Makefile
  diode-server/auth/manager_hydra.go
  diode-server/docker/Dockerfile-build
  diode-server/docker/Dockerfile-build.auth
  diode-server/docker/Dockerfile-build.ingester
  diode-server/docker/Dockerfile-build.reconciler
  diode-server/go.mod
  diode-server/go.sum
  diode-server/reconciler/differ/differ.go
Labels: go, github-actions, dependencies, diode-server, diode-reconciler, internal, build

#347 fix: GHA - add condition to post comment for PRs from the same repo
  .github/workflows/go-test.yaml
Labels: github-actions

#352 feat: add support for supplying additional environment variables
  charts/diode/Chart.lock
  charts/diode/Chart.yaml
  charts/diode/README.md
  charts/diode/templates/diode-auth-deployment.yaml
  charts/diode/templates/diode-ingester-deployment.yaml
  charts/diode/templates/diode-reconciler-deployment.yaml
  charts/diode/values.yaml
Labels: markdown, diode-chart
